/* Reset CSS */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
} 


/* Generics */
body {
    background-color: #e3e3e3;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1.2rem;
}

h1 {
   font-size: 3rem;
   font-weight: bold;
   display: inline;
   position: absolute;
   top: 25%;
   transform: translateX(36%);

}




/* Utilties */

.cointener {
    width: 1080px;
    margin: 0 auto;
}

.padd-20 {
    padding: 20px;
}

.marg-20 {
    margin-bottom: 2px;
}

/* Header */
header {
    height: 100px;
    background-color: #fff;
    margin-bottom: 40px;
    /* line-height: 100px; */
    position: relative;
}

#logo {
    height: 50px;
    vertical-align: middle;
    margin-left: 20px;
    position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Main */
#sect-control {
   background-color: #fff; 
   border-radius: 10px 10px 0px 0px;
}

#list {
   background-color: #fff; 
}

.task {
    color: #fff;
    border: 2px solid #1e90ff;
    background-color: #1e90ff;
}
.section {
    color: #808080;
    border: 2px solid #808080;
    background-color: #fff;

}